.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background: #c6f4ed;
  padding: 24px;
  width: 320px;
  height: 200px;
  border-radius: 8px;
  text-align: center;
}


.closeBtn {
    background: rgb(54, 27, 165);
    color: #fff;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid gainsboro;
}